## List of files that should be ignored from git

# Ignore following folders
data/covid_euskadi/
data/covid_madrid/
data/covid_murcia/
data/demo_cataluna/
data/demo_madrid/
data/shapefile/bm5mv21sh0tc1_20200101_0/
data/shapefile/municipios_y_distritos_madrid/
data/shapefile/national_data/
Literature/
src/old/
out/old/

# Temporal Analysis files
out/*.rds

# Ignore generated latex files
*.ini
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.bib.sav
*.log

# Ignore R related files
*.Rhistory

# Ignore Google Doc Related Files
*.gdlink
*.gddoc

# Ignore madrid related Files
*_madrid*
